// colours variable declaration
$banner-bgcolor: linear-gradient(0.25turn, #fbb1be, #f2cbc4, #e2938e);
$footer-bgcolor: linear-gradient(0.25turn, #e8e1d7, #f6efe9, #e7e0d6);

$btnBgColor: #ff5355;
$starColor: #c7452e;
$borderColor: #c4c3c3;
$lightPara: #888787;

@mixin text-handle($size, $color, $weight) {
    font-size: $size;
    color: $color;
    font-weight: $weight;
}

@mixin upprecase() {
    text-transform: uppercase;
}

@mixin btn-handle() {
    background-color: $btnBgColor;
    color: white;
    padding: 20px 40px;
    margin-top: 15px;
    border: none;
    border-radius: 9px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    @include transition(0.4s);

    &:hover {
        background-color: white;
        color: $btnBgColor;
        font-weight: 700;
        border: 1px solid $btnBgColor;
    }
}

@mixin griding($repete, $gap) {
    display: grid;
    grid-template-columns: repeat($repete, 1fr);
    grid-gap: $gap;
}

@mixin flexing($justCont, $alignItem) {
    display: flex;
    justify-content: $justCont;
    align-items: $alignItem;
}

@mixin transition($sec) {
    -moz-transition: all linear $sec;
    -webkit-transition: all linear $sec;
    -o-transition: all linear $sec;
    transition: all linear $sec;
}

//---------- Common CSS Start Here ----------//
* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.marginY {
    margin: 60px 0;
}

a {
    text-decoration: none;
}

h1 {
    @include text-handle(50px, black, 900)
}

h2 {
    @include text-handle(35px, black, 700);
    @include upprecase();
    text-align: center;
}

h3 {
    @include text-handle(25px, black, 700)
}

h4 {
    @include text-handle(20px, black, 700);
    margin: 7px 0;
}

p {
    @include text-handle(18px, black, 500)
}

.light-para {
    @include text-handle(16px, #888787, 500)
}

// Style for Navigation
nav {
    @include flexing(space-between, center);
    padding: 30px 0;

    .logo {
        a {
            @include text-handle(20px, black, 900);
        }
    }

    .links {
        a {
            @include text-handle(16px, black, 700);
            padding: 10px;
            border-radius: 9px;
            @include transition(0.4s);

            &:hover {
                background-color: $btnBgColor;
                color: white;
            }
        }

        .shopping {
            position: relative;

            .count {
                position: absolute;
                top: -15px;
                right: -5px;
                font-size: 22px;
            }
        }

        .heart {
            @extend .shopping;
        }
    }
}

.navIcon {
    background-color: tomato;
    color: #ffd332 !important;
    border-radius: 50px !important;
    padding: 12px !important;
    margin: 5px;
}

// Style for Top-Banner Section
.bannerMain {
    background: $banner-bgcolor;
    @include flexing(space-evenly, center);

    .bannerText {
        text-align: center;

        p {
            @include upprecase();
        }

        button {
            @include btn-handle();
        }
    }


    .bannerImg {
        img {
            width: 90%;
            margin-bottom: -5px;
        }
    }
}

// Style for Featured Products Section
@mixin singleProduct() {
    .product {
        border: 1px solid $borderColor;
        border-radius: 9px;
        position: relative;
        @include transition(0.4s);

        &:hover {
            .productBtns {
                position: absolute;
                bottom: 120px;
                right: 10px;
                display: block;


                p {
                    background-color: $btnBgColor;
                    color: white;
                    font-size: 25px;
                    padding: 8px;
                    margin-bottom: 9px;
                    border: none;
                    border-radius: 9px;
                    cursor: pointer;
                    @include transition(0.4s);

                    &:hover {
                        color: $btnBgColor;
                        background-color: white;
                    }
                }

            }
        }

        .productBtns {
            display: none;
        }

        .productImg {
            img {
                width: 100%;
                border-radius: 9px 9px 0px 0px;
            }
        }

        .productDetails {
            padding: 10px;
            text-align: center;

            .star-color {
                color: $starColor;
                font-size: 14px;
                margin: 8px 0
            }
        }
    }
}

.featuredMain {

    .featuredProducts {
        padding: 50px 0;
        @include griding(3, 20px);
        @include singleProduct();
    }
}

// Style for Offer Banner Section
.offerBanner {
    background: $footer-bgcolor;
    @include flexing(center, center);

    .offerText {
        .offerh1 {
            font-size: 60px;
        }

        .offerh2 {
            font-weight: 400;
            color: $lightPara;
        }

        button {
            @include btn-handle();
        }
    }


    .offerImg {
        img {
            width: 90%;
        }
    }
}

// Style for Popular Product Section
.popularProductMain {
    .popularProducts {
        padding: 50px 0;
        @include griding(4, 20px);
        @include singleProduct();
    }
}

// Style for Services Section
.servicesMain {
    .services {
        padding: 50px 0;
        @include griding(4, 20px);

        .service {
            text-align: center;
            padding: 20px;

            .serviceIcon {
                color: #f54e86;
                margin: 7px 0;
                font-size: 30px;
            }
        }
    }
}

// Style for Trending Products Section
.trendingProductsMain {
    .trendingProducts {
        padding: 50px 0;
        @include griding(4, 20px);
        @include singleProduct();
    }
}

// Style for journals Section
.journalMain {
    .journals {
        padding: 50px 0;
        @include griding(3, 20px);

        .journal {
            border: 1px solid $borderColor;
            border-radius: 9px;

            .journalImg {
                img {
                    width: 100%;
                    max-height: 400px;
                    border-radius: 9px 9px 0px 0px;
                }
            }

        }

        .journalText {
            padding: 20px;

            .journalFooter {
                margin-top: 20px;

                .journalIcon {
                    color: $lightPara;
                    margin-right: 10px;
                }
            }
        }
    }
}

// Style for Follow Us Section 
.FollowUsMain {
    .FollowUs {
        padding: 50px 0;
        @include griding(4, 20px);

        .Follow {
            border: none;
            border-radius: 9px;
            position: relative;
            @include transition(0.4s);

            &:hover {
                background-color: $btnBgColor;

                .FollowIcon {
                    //visibility: visible;
                    display: block;
                }

                img {
                    opacity: .3;
                    ;
                }
            }

            img {
                width: 100%;
                height: 100%;
                border-radius: 9px;
            }

            .FollowIcon {
                position: absolute;
                top: 78px;
                left: 105px;
                color: #fff;
                font-size: 35px;
                //visibility: hidden;
                display: none;
            }
        }
    }
}

// Style for Footer Section

.footerMain {
    background: $footer-bgcolor;
    padding: 60px 0;
    position: relative;

    .footers {
        @include griding(4, 20px);
        padding-bottom: 30px;
        border-bottom: 1px solid #b3b1b1;

        .footer {
            .heading {
                margin-bottom: 20px;
            }

            .google {
                @include flexing(space-evenly, center);
                border: 1px solid $btnBgColor;
                border-radius: 9px;
                margin-bottom: 10px;
                padding: 9px;
                @include transition(0.4s);

                &:hover {
                    background-color: $btnBgColor;

                    i,
                    p,
                    h4 {
                        color: white;
                    }
                }

                .fotIcon {
                    font-size: 20px;
                    color: $btnBgColor;
                }

            }

            .apple {
                @extend .google;
            }
        }
    }

    .Copyright {
        text-align: center;
        margin-top: 40px;

        .link {
            color: $starColor;
        }
    }
}

// scroll animation
#scrollToTop {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    box-shadow: 0 0 20px 5px rgba(244, 46, 46, 0.6);
    border-radius: 100%;
    width: 80px;
    height: 80px;
    @include flexing(center, center);
    margin-bottom: -12rem;
    //transition: margin-bottom 0.4s;
    @include transition(0.4s);

    &.active {
        margin-bottom: 0;
    }

    &:hover {
        animation-name: rotate;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
}

@keyframes rotate {
    to {
        transform: rotate(2520deg);
    }
}

/*
*/